/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --success: 5 193 174;
    --info: 51 163 238;
    --warning: 237 214 18;
}

.theme-1 {
    --success: 36 195 102;
    --info: 54 143 255;
    --warning: 234 209 27;
}

.theme-2 {
    --success: 57 209 121;
    --info: 0 186 255;
    --warning: 234 209 27;
}
